@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: linear-gradient(
    90deg,
    rgba(214, 209, 118, 1) 0%,
    #787635 100%
  );
  scroll-behavior: smooth;
  font-family: var(--font-poppins);
  width: 100vw;
}

.text-light {
  color: #fffed8;
}

.tracking-text {
  letter-spacing: -0.9px;
}

.text-header {
  font-size: 1rem;
}

.text-dark {
  color: #363408
}

.bg-card {
  background-color: #4f4c0db6;
} 

.bg-button {
  background-color: #282605b6;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #cac52ab6;
    color: #1e1d01;
  }
} 

.text-links {
  color: #fffcaf;
}

.swiper-pagination-bullet {
  background-color: #fffcb4 !important;
}

.text-other {
  color: #fffcaf;
}
