@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  overflow-x: hidden; /* Opcional, para evitar scroll horizontal si no lo necesitas */
  background: linear-gradient(
    90deg,
    rgba(214, 209, 118, 1) 0%,
    rgba(120, 118, 53, 1) 100%
  );
  scroll-behavior: smooth;
}


.image {
  transition: all 0.5s ease-in-out;
}

.image:hover {
  transform: translateY(-20px);
  box-shadow: 2px 2px 10px 1px #1d3202;
}
